.bold {
    font-weight: bold;
}

.green {
    background: #057501;
    color: white;
    padding: 3px;
    margin: 0 3px;
    border-radius: 3px;
}

.mainButtonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 0 25vw;
    margin-top: 20px;
}
